<!DOCTYPE html>
<html>
<head>
  <title>Clean Beauty Encyclopedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="logo logo-top">CLEAN</div>
<div class="logo logo-bottom">Beauty Encyclopedia</div>


<%= yield %>

</body>
</html>
