<div class="image-placeholder">this is gonna be an image!</div>

<div class="section">
	<h1>What is Clean Beauty?</h1>
	<div class="callout-link"><%= link_to 'Read More', products_path %></div>
</div>

<div class="section">
	<h1>Find your Clean Beauty Starter Kit</h1>
	<div class="callout-link"><%= link_to 'Read More', products_path %></div>
</div>

<div class="section-last">
	<h1>Browse by...</h1>
	<ul class="menu-cards">
		<li class="menu-item-card"><%= link_to 'Category', products_path %></li>
		<li class="menu-item-card"><%= link_to 'Brand', brands_path %></li>
		<li class="menu-item-card">Concern</li>
	</ul>
</div>

