<h1>Statics#index</h1>
<p>Find me in app/views/statics/index.html.erb</p>
<p>Home page for entire site. For now start with categories to funnel people?</p>

<p>links to other views...</p>
<ul>
	<li><%= link_to 'All Brands', brands_path %></li>
	<li><%= link_to 'All Products', products_path %></li>
</ul>