/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/******************************************
FONTS
******************************************/
/* Max of three is recommended for best performance. 
Each weight counts as it's own font, so I'm using 5 fonts here. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Condensed:300|Roboto:100,400");
/* backups: */
/* Catamaran:300 */
/* Fjalla+One */


/******************************************
COLOR PALLETTE
******************************************/
/* white: #FFFFFF */
/* black: #000000 */
/* cream: #F5F5F1 */
/* sage / gray: #CBD1C7 */
/* pink accents: #CB4A5D */

/* still playing with where to place these: */
/* lime green: #A1A652 */
/* dark green: #304643 */
/* dark blue/teal/almost black: #272730 */


/******************************************
BASE STYLES
******************************************/

* {
	box-sizing: border-box;
}

html {
	height: 100%;	/* for a sticky footer */
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: .8em;
	background-color: #FFFFFF;	/* white */
	min-height: 100%;	/* for a sticky footer */
	display: flex;	/* for a sticky footer */
	flex-direction: column;	  /* for a sticky footer */
}

ul {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.6em;
	color: #304643;
	/*color: #272730;*/
	font-weight: normal;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000000; /* black */
}

	a:visited {
		color: #000000; /* black */
	}

table {
	border: 1px solid #CBD1C7;	/* sage/gray */
	border-collapse: collapse;
}

	td, th  {
		border: 1px solid #CBD1C7;	/* sage/gray */
		padding: .5em 1em;
	}

.section, .section-last {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}

	.section {
		border-bottom: 2px solid #CBD1C7;	/* sage/gray */
	}

.callout-link-card {
	margin: 2em;
	padding: 2em;
	display: inline-block;
	border: 2px solid #CB4A5D;	/* pink */
	background-color: #FFFFFF;	/* white */
	font-size: 1.2em;
}

	.callout-link-card:hover, .callout-link-card:hover {
		background-color: #CBD1C7;	/* sage/gray */
		color: #CB4A5D;	  /* pink */
	}


/******************************************
HEADER
******************************************/

.nav-header-first {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}

	.nav-header-first-inner {
		max-width: 990px;
		margin: 0 auto;
	}

.logo {
	line-height: 1;
	text-align: center;
	color: #A1A652;
	float: left;
}

	.logo-top {
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		font-size: 4.5em;
	}

	.logo-bottom {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		font-size: 1.7em;
	}

	.logo a, .logo a:visited {
		color: #A1A652;
	}

.nav-header-second {
	border-top: 2px solid #CBD1C7;	/* sage/gray */
	border-bottom: 2px solid #CBD1C7;	/* sage/gray */
}

	.nav-header-second-inner {
		max-width: 990px;
		margin: 0 auto;
	}

.menu-header-row {
	list-style: none;
	display: flex;
	flex-direction: row;
}

	.menu-item {
		font-size: 1.25em;
		flex: 1;
		padding-top: 1em;
		padding-bottom: 1em;
		border-bottom: 2px solid #CBD1C7;	/* sage/gray */
		margin-bottom: -2px;
	}

	.menu-item li {
		display: inline;
	}

	.menu-item:hover, .menu-item:active {
		border-bottom: 2px solid #CB4A5D;	/* pink */
	}


/******************************************
CENTER / MAIN CONTENT AREA - GLOBAL
******************************************/

.main-content {
	background-color: #F5F5F1;  /* cream */
	flex: 1;	/* for a sticky footer */
}

	.main-content-inner {
		max-width: 990px;
		margin: 0 auto;
	}


/******************************************
FOOTER
******************************************/

.footer {
	background-color: #CBD1C7;  /* sage/gray */
	padding: 1em;
	padding-bottom: 2em;
}

	.footer-inner {
		max-width: 990px;
		margin: 0 auto;
	}


/******************************************
INDEX PAGE
******************************************/

.image-placeholder {
	background-color: #CBD1C7;	/* sage/gray */
	height: 250px;
	max-width: 1000px;
	margin: 10px auto;
}

.menu-cards {
	list-style: none;
}

.menu-item-card {
	display: inline-block;
	margin: 1em;
	padding: 3em;
	border: 2px solid #CBD1C7;	/* sage/gray */
	background-color: #FFFFFF;	/* white */
	font-size: 1.2em;
}

	.menu-item-card:hover, .menu-item-card:hover {
		background-color: #CBD1C7;	/* sage/gray */
		color: #CB4A5D;	  /* pink */
	}

/******************************************
BRANDS INDEX PAGE
******************************************/

.brands-index-area {
	padding: 20px 10px;
}

.brand-card {
	border: 1px solid #CBD1C7;	/* sage/gray */
	width: 200px;
	height: 150px;
	text-align: center;
	margin: 20px;
	float: left;
}

.brand-card-image-container {
	width: 150px;
	height: 50px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

.brand-card-image-inner {
	max-width: 100%;
	max-height: 100%;
	align-self: flex-end;
}

.brand-card-name {
	font-weight: bold;
}


/******************************************
BRANDS SHOW	PAGE
******************************************/

.brands-show-area {
	padding: 20px 10px;
}

.brand-logo-detail-page {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

.brand-show-table {
	max-width: 100%;
	margin: 0 auto;
}


/******************************************
PRODUCTS INDEX PAGE
******************************************/

.products-index-left-column {
	width: 30%;
	float: left;
	margin: 25px 0;
	padding-right: 10px
}
	.products-index-left-column-inner {
		background-color: #FFFFFF;	/* white */
		padding: 15px;
		border: 1px solid #CBD1C7;	/* sage/gray */
	}

.products-index-right-column {
	width: 70%;
	float: right;
	margin: 25px 0;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*align-content: space-between;*/
}

.product-card {
	border: 1px solid #CBD1C7;	/* sage/gray */
	width: 150px;
	height: 150px;
	/*float: left;*/
	background-color: #FFFFFF;	/* white */
	margin-bottom: 25px;
}

	.product-card-image-container {
		width: 150px;
		height: 100px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
	}

	.product-card-image-inner {
		max-width: 100%;
		max-height: 100%;
		align-self: flex-end;
	}

	.product-card-name, .product-card-price {
		padding-left: 10px;
	}


/******************************************
PRODUCTS SHOW PAGE
******************************************/

.products-show-left-column {
	width: 50%;
	border: 1px solid #CBD1C7;	/* sage/gray */
	float: left;
	margin: 25px 0;
	padding: 15px;
	background-color: #FFFFFF;	/* white */
}

	/*.product-show-image-container {

	}*/

	.product-show-image-inner {
		max-width: 100%;
		max-height: 100%;
	}

.products-show-right-column {
	width: 50%;
	float: right;
	margin: 25px 0;
	padding-left: 65px;
}

.product-ingredients-list {
	clear: both;
	padding-left: 2em;
	padding-right: 2em;
}

.product-ingredients-table {
	padding-left: 2em;
	padding-right: 2em;
	text-align: left;
}

.ingredients-heading {
	text-align: center;
}




