<div class="brands-index-area">

	<% @brands.each do |brand| %>

		<a href="<%= brands_show_path(brand) %>">

			<div class="brand-card">

				<div class="brand-card-image-container">
					<img src="<%= brand.logo %>" alt="brand logo" class="brand-card-image-inner">
				</div>
				<div class="brand-card-name"><%= brand.name %></div>
				<div class="brand-card-year">Year founded: <%= brand.year_founded %></div>

			</div>

		</a>

	<% end %>

</div>

